In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.metrics import mean_squared_error

In [2]:
restaurants_df = pd.read_csv(r'restaurants.csv')

In [3]:
restaurants_df

,Unnamed: 0,Name,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,0,Martine of Martine's Table,Amsterdam,"['French', 'Dutch', 'European']",1.0,5.0,$$ - $$$,136.0,"[['Just like home', 'A Warm Welcome to Wintry ...",/Restaurant_Review-g188590-d11752080-Reviews-M...,d11752080
1,1,De Silveren Spiegel,Amsterdam,"['Dutch', 'European', 'Vegetarian Friendly', '...",2.0,4.5,$$$$,812.0,"[['Great food and staff', 'just perfect'], ['0...",/Restaurant_Review-g188590-d693419-Reviews-De_...,d693419
2,2,La Rive,Amsterdam,"['Mediterranean', 'French', 'International', '...",3.0,4.5,$$$$,567.0,"[['Satisfaction', 'Delicious old school restau...",/Restaurant_Review-g188590-d696959-Reviews-La_...,d696959
3,3,Vinkeles,Amsterdam,"['French', 'European', 'International', 'Conte...",4.0,5.0,$$$$,564.0,"[['True five star dinner', 'A superb evening o...",/Restaurant_Review-g188590-d1239229-Reviews-Vi...,d1239229
4,4,Librije's Zusje Amsterdam,Amsterdam,"['Dutch', 'European', 'International', 'Vegeta...",5.0,4.5,$$$$,316.0,"[['Best meal.... EVER', 'super food experience...",/Restaurant_Review-g188590-d6864170-Reviews-Li...,d6864170
...,...,...,...,...,...,...,...,...,...,...,...
125522,1662,Konrad Kaffee- & Cocktailbar,Zurich,NaN,NaN,NaN,NaN,NaN,NaN,/Restaurant_Review-g188113-d13273526-Reviews-K...,d13273526
125523,1663,Blueberry American Bakery,Zurich,['Cafe'],NaN,NaN,NaN,NaN,NaN,/Restaurant_Review-g188113-d13292844-Reviews-B...,d13292844
125524,1664,Restaurant Bahnhof,Zurich,NaN,NaN,NaN,NaN,NaN,NaN,/Restaurant_Review-g188113-d13296092-Reviews-R...,d13296092
125525,1665,Yoyo Pizza,Zurich,['Fast Food'],NaN,NaN,NaN,NaN,NaN,/Restaurant_Review-g188113-d13323362-Reviews-Y...,d13323362
125526,1666,dieci,Zurich,"['Italian', 'Pizza', 'Mediterranean', 'Diner']",NaN,NaN,$$ - $$$,NaN,NaN,/Restaurant_Review-g188113-d13349842-Reviews-D...,d13349842

In [9]:
print(restaurants_df['Price Range'].unique())

['$$ - $$$' '$$$$' '$' nan]

In [4]:
restaurants_df2= restaurants_df.dropna()

In [5]:
restaurants_df2

,Unnamed: 0,Name,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,0,Martine of Martine's Table,Amsterdam,"['French', 'Dutch', 'European']",1.0,5.0,$$ - $$$,136.0,"[['Just like home', 'A Warm Welcome to Wintry ...",/Restaurant_Review-g188590-d11752080-Reviews-M...,d11752080
1,1,De Silveren Spiegel,Amsterdam,"['Dutch', 'European', 'Vegetarian Friendly', '...",2.0,4.5,$$$$,812.0,"[['Great food and staff', 'just perfect'], ['0...",/Restaurant_Review-g188590-d693419-Reviews-De_...,d693419
2,2,La Rive,Amsterdam,"['Mediterranean', 'French', 'International', '...",3.0,4.5,$$$$,567.0,"[['Satisfaction', 'Delicious old school restau...",/Restaurant_Review-g188590-d696959-Reviews-La_...,d696959
3,3,Vinkeles,Amsterdam,"['French', 'European', 'International', 'Conte...",4.0,5.0,$$$$,564.0,"[['True five star dinner', 'A superb evening o...",/Restaurant_Review-g188590-d1239229-Reviews-Vi...,d1239229
4,4,Librije's Zusje Amsterdam,Amsterdam,"['Dutch', 'European', 'International', 'Vegeta...",5.0,4.5,$$$$,316.0,"[['Best meal.... EVER', 'super food experience...",/Restaurant_Review-g188590-d6864170-Reviews-Li...,d6864170
...,...,...,...,...,...,...,...,...,...,...,...
125423,1563,Taj Palace,Zurich,"['Indian', 'Asian', 'Vegetarian Friendly', 'Ha...",1569.0,2.5,$$ - $$$,53.0,"[['Good food and nice experience', 'Disappoint...",/Restaurant_Review-g188113-d697907-Reviews-Taj...,d697907
125434,1574,Forum,Zurich,"['Mediterranean', 'European', 'Central Europea...",1580.0,3.5,$$ - $$$,104.0,"[['Good service', 'nice atmoshphere'], ['06/27...",/Restaurant_Review-g188113-d1187556-Reviews-Fo...,d1187556
125435,1575,PurPur,Zurich,['Bar'],1581.0,2.0,$$ - $$$,150.0,"[['Worst New Yearâ€™s Eve experience', 'HORRIBLE...",/Restaurant_Review-g188113-d939089-Reviews-Pur...,d939089
125438,1578,Jade,Zurich,"['Chinese', 'Swiss', 'Mediterranean', 'European']",1584.0,3.0,$$$$,21.0,"[['Horrible!', 'It was really horrible, I woul...",/Restaurant_Review-g188113-d1551957-Reviews-Ja...,d1551957
125445,1585,Ristorante La Taverna,Zurich,"['Italian', 'Vegetarian Friendly']",1591.0,4.5,$$ - $$$,16.0,"[['Super local eatery', 'Small and charming pl...",/Restaurant_Review-g188113-d5768767-Reviews-Ri...,d5768767

In [6]:
restaurants_df2['Price Range'].nunique()

3

In [10]:
print(restaurants_df2['Price Range'].unique())

['$$ - $$$' '$$$$' '$']

In [19]:
restaurants_df2['Cuisine Style'].unique()

array(["['French', 'Dutch', 'European']",
       "['Dutch', 'European', 'Vegetarian Friendly', 'Gluten Free Options']",
       "['Mediterranean', 'French', 'International', 'European', 'Vegetarian Friendly', 'Vegan Options']",
       ..., "['Bar', 'Sushi', 'Delicatessen', 'Pub', 'Wine Bar']",
       "['Mediterranean', 'European', 'Central European', 'Bar', 'Vegetarian Friendly']",
       "['Chinese', 'Swiss', 'Mediterranean', 'European']"], dtype=object)

In [21]:
restaurants_df2.rename(columns={"Cuisine Style": "cuisine_style", "Price Range": "price_range","Number of Reviews":"number_reviews"})

,Unnamed: 0,Name,City,cuisine_style,Ranking,Rating,price_range,number_reviews,Reviews,URL_TA,ID_TA
0,0,Martine of Martine's Table,Amsterdam,"['French', 'Dutch', 'European']",1.0,5.0,$$ - $$$,136.0,"[['Just like home', 'A Warm Welcome to Wintry ...",/Restaurant_Review-g188590-d11752080-Reviews-M...,d11752080
1,1,De Silveren Spiegel,Amsterdam,"['Dutch', 'European', 'Vegetarian Friendly', '...",2.0,4.5,$$$$,812.0,"[['Great food and staff', 'just perfect'], ['0...",/Restaurant_Review-g188590-d693419-Reviews-De_...,d693419
2,2,La Rive,Amsterdam,"['Mediterranean', 'French', 'International', '...",3.0,4.5,$$$$,567.0,"[['Satisfaction', 'Delicious old school restau...",/Restaurant_Review-g188590-d696959-Reviews-La_...,d696959
3,3,Vinkeles,Amsterdam,"['French', 'European', 'International', 'Conte...",4.0,5.0,$$$$,564.0,"[['True five star dinner', 'A superb evening o...",/Restaurant_Review-g188590-d1239229-Reviews-Vi...,d1239229
4,4,Librije's Zusje Amsterdam,Amsterdam,"['Dutch', 'European', 'International', 'Vegeta...",5.0,4.5,$$$$,316.0,"[['Best meal.... EVER', 'super food experience...",/Restaurant_Review-g188590-d6864170-Reviews-Li...,d6864170
...,...,...,...,...,...,...,...,...,...,...,...
125423,1563,Taj Palace,Zurich,"['Indian', 'Asian', 'Vegetarian Friendly', 'Ha...",1569.0,2.5,$$ - $$$,53.0,"[['Good food and nice experience', 'Disappoint...",/Restaurant_Review-g188113-d697907-Reviews-Taj...,d697907
125434,1574,Forum,Zurich,"['Mediterranean', 'European', 'Central Europea...",1580.0,3.5,$$ - $$$,104.0,"[['Good service', 'nice atmoshphere'], ['06/27...",/Restaurant_Review-g188113-d1187556-Reviews-Fo...,d1187556
125435,1575,PurPur,Zurich,['Bar'],1581.0,2.0,$$ - $$$,150.0,"[['Worst New Yearâ€™s Eve experience', 'HORRIBLE...",/Restaurant_Review-g188113-d939089-Reviews-Pur...,d939089
125438,1578,Jade,Zurich,"['Chinese', 'Swiss', 'Mediterranean', 'European']",1584.0,3.0,$$$$,21.0,"[['Horrible!', 'It was really horrible, I woul...",/Restaurant_Review-g188113-d1551957-Reviews-Ja...,d1551957
125445,1585,Ristorante La Taverna,Zurich,"['Italian', 'Vegetarian Friendly']",1591.0,4.5,$$ - $$$,16.0,"[['Super local eatery', 'Small and charming pl...",/Restaurant_Review-g188113-d5768767-Reviews-Ri...,d5768767

In [24]:
enc = OrdinalEncoder(categories=['$','$$ - $$$', '$$$$'])
restaurants_df2['price_range_encoded'] = enc.transform(restaurants_df2[['price_range']]).reshape((1,-1))[0]

KeyError: "None of [Index(['price_range'], dtype='object')] are in the [columns]"